body {
	background: #eeeeee !important;
}
p {
	font-size: 16px;
}
p.ord {
	font-size: 16px ;
	text-align: justify;
	background-color: #eeeeee;
}

div.small {
}

.nav {
	text-color: #FFFFFF;
}

nav.navbar {
	background-color: #729c23 ;
	color: #fff;
	text-color: #fff;
}

.top { 
	background-color: #729c23 ;
	width: 15%;
	height: 798px;
}

div.text { 
	background-color: #eeeeee ;
	display:inline-block;
	float:left;
	height: 30px;
}

footer {
	text-align: center;
	background-color: #729c23;
	display: block;
	color: white;
}

#navigation {
	text-align: center;
	text-color: black;
}

img {
	padding: 2px;
}

div.prod {
	display:inline-block;
	padding: 15px;
}

div.imge{
	list-style-type:none;
	display:inline ;

}

div.img {
	/* width:auto; */
	/* width: 90%; */
	/* height: 450px; */
	/* list-style-type:none; */
	/* display:inline ; */
}
div.imgs {
	border-radius: 25px;
	border-style: solid;
	border-color: #729c23;
	width:auto;
	padding: 15px;
	vertical-align: bottom;
	background-color: #729c23;
}

div.par{
	width:80%;
}

div.title{ 
	text-color: #729c23;
}

h1.top {
	color: black;
}
h1.title {
	color: #201740;
}

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #729c23;
}

.button
{
	width:105px;
	height: 20px;
	line-height: 20px;
	padding-bottom: 2px;
	vertical-align: middle;
	font-family: "Lucida Grande", Geneva, Verdana, Arial, Helvetica, sans-serif;
	font-size: 13px;
	text-transform: none;
	border:1px solid transparent;
}

li {
	border-right: 1px solid #555;
	color: black;
	float: left;
}

li:last-child {
	border-right: none;
}

button {
	padding: 10px ;
	background-color: #322170;
	color: #fff;
}

#pro {

	font-family:verdana ;
	font-size: 150% ;
	padding: 10px 0px;
	text-align: left;
	background-color: #eeeeee;
	display: block;
	margin-top: 0em;
	margin-bottom: 0em;
	margin-left: 0em;
	margin-right: 0em;
}

p {
	font-family:verdana ;
	font-size: 170% ;
	padding: 0px 86px;
	text-align: left;
	background-color: #eeeeee;
	display: block;
	margin-top: 1em;
	margin-bottom: 1em;
	margin-left: 30em;
	margin-right: 30em;
}

hr {
	float: left;
	color: #729c23;
	width: 80%;
}


li a {
	display: block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}

li a:hover {
	background-color: #333;
}

.start {
	width:20%;
}

.fot {
	padding: 30px 0px;
	height: 40px;
}

.logo{
	background: linear-gradient(#322170,#1d163b);
}

.tabs{
	background-color: #729c23 ;
}

.tp {
	color: white;
}

figure { 
	width: 120px; 
	float: left; 
	margin: 0 20px 0 0; 
	/* background: white; */
	/* border: 10px solid white; */ 
	/* -webkit-box-shadow: 0 3px 10px #ccc; */ 
	/* -moz-box-shadow: 0 3px 10px #ccc; */
	/* -webkit-transform: rotate(5deg); */ 
	/* -moz-transform: rotate(5deg); */
	/* -webkit-transition: all 0.7s ease; */ 
	/* -moz-transition: all 1s ease; */
	position: relative;
}

/* #imagelightbox */
/* { */
/* 	position: fixed; */
/* 	z-index: 9999; */

/* 	-ms-touch-action: none; */
/* 	touch-action: none; */

/* } */

figcaption { 
	text-align: center; 
	display: block; 
	font-size: 12px; 
	font-style: italic; 
}

figure img { 
	width: 100%; /* Scale down */
}

figure:hover {
	-webkit-transform: rotate(0deg); -moz-transform: rotate(0deg);
	-webkit-box-shadow: 0 3px 10px #666; -moz-box-shadow: 0 3px 10px #666;

}

figure:focus {
	outline: none;
	-webkit-transform: rotate(0deg) scale(4.5); -moz-transform: rotate(0deg) scale(4.5);
	-webkit-box-shadow: 0 3px 10px #666; -moz-box-shadow: 0 3px 10px #666;
	z-index: 9999;

}
