header {
	position: absolute;
}

#menu-icon {
	display:inline-block;
}
nav ul, nav:active ul { 

	/* display: none; */
	/* position: absolute; */
	/* padding: 20px; */
	/* background: #fff; */
	border: 5px solid #444;
	right: 20px;
	top: 60px;
	width: 50%;
	border-radius: 4px 0 4px 4px;
}

nav li {

	text-align: center;
	width: 100%;
	padding: 10px 0;
	margin: 0;
}

div.img {
	float:left;
}
div.imgs {
	/* border-radius: 20px; */
	/* border-style: solid; */
	/* border-color: #729c23; */
	width:400px;
	vertical-align: middle;
	background-color: #729c23;
}
.top {
	width:300px;
	vertical-align:middle;
}

.start {
	width: 100%;
}

nav:hover ul {
	display: block;
}
